<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel=stylesheet type="text/css" href="css/main-style.css" rel="stylesheet" media="screen" />
    <title>Document</title>
</head>
<body>
    <a href="index.html"><img class="logo2" src="assets/logo.png" alt=""></a>
    <div class="container">
        
            <img src="assets/billie-eilish.jpg" alt="" class="profile_img">
            <h2 class="event-title">Miguel Cendrero</h2>
        </br>
        <div class="data">
            <h3 class="fav_title">Datos</h3>
            <ul class="data-list">
                <li><b>Correo Electrónico</b></li>
                <li><b>Teléfono</b></li>
                <li><b>Pais</b></li>
                <li><b>Provincia</b></li>
                <li><b>Ciudad</b></li>
                <li><b>Dirección</b></li>
                <li><b>Código Postal</b></li>
            </ul>
            <ul class="data-list">
                <li>pepe@gmail.com</li>
                <li>4838292</li>
                <li>España</li>
                <li>Madrid</li>
                <li>Madrid</li>
                <li>C/ Ejemplo Nº4</li>
                <li>24567</li>
            </ul>
        </div></br>
        <div>
            <h2 class="fav_title">Entradas compradas</h2>
            <table>
                <tr>
                    <th>Entrada Nº
                    </th>
                    <th>Festival
                    </th>
                    <th>Tipo de entrada
                    </th>
                    <th>Fecha
                    </th>
                </tr>
                <tr>
                    <td>
                        128953
                    </td>
                    <td>
                        Coachella Weekend N2
                    </td>
                    <td>
                        Vip
                    </td>
                    <td>
                        26 Abril 2020
                    </td>
                </tr>
                </table>
        </div></br>
        <div>
            <h2 class="fav_title">Artistas favoritos</h2>
            <ul class="artist-list">
                <li> <img src="assets/billie-eilish.jpg" class="artist-icon" alt="">
                    <p>Billie Eilish</p>
                </li>
                <li> <img src="assets/billie-eilish.jpg" class="artist-icon" alt="">
                    <p>Billie Eilish</p>
                </li>
                <li> <img src="assets/billie-eilish.jpg" class="artist-icon" alt="">
                    <p>Billie Eilish</p>
                </li>
            </ul>
        </div></br>
        <div>
            <h2 class="fav_title">Eventos favoritos</h2>
            
            <ul class="artist-list">
                <li> <img src="assets/billie-eilish.jpg" class="artist-icon" alt="">
                    <p>Billie Eilish</p>
                </li>
                <li> <img src="assets/billie-eilish.jpg" class="artist-icon" alt="">
                    <p>Billie Eilish</p>
                </li>
                <li> <img src="assets/billie-eilish.jpg" class="artist-icon" alt="">
                    <p>Billie Eilish</p>
                </li>
            </ul>

        </div>

    </div>
</body>
</html>